loc*.local
server*.local
**/*.iml
*.ipr
*.iws
.js.map
.js
.jar
*npm-debug.log
.mvn/
.vscode/
node_modules/
typings/
target/
out
src/main/resources/static/node/
.DS_Store
.#*

.iml
*.irf
*.crf
*.drf
*.lk
.log
.marker
.lk
.idea
.project
.settings
.classpath
.factorypath
.springBeans

.gradle
*.class
*.if
build
vf.*
bin
# packaging
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
target/
BACKUP*
# logs and database
*.log
*.sqlite
*.state
*.lock
*.crf
*.drf
# OS generate files #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

provided/sqlf_appointment/server/*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
